body {
    font-family: sans-serif;
    margin: 2em;
    color: #3d3d3d;
}
#myimage {
    position: absolute;
    display: flex;
    color: white;
    background-color:red;
    z-index:20;
}

#predictionDisplay {
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
    border-radius: 8px;
    z-index: 20;
    text-align: center;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;
    max-width: 200px;
}

p {
    margin:2px;
}

textarea {
    font-size:0.7em;
}

section {
    margin: 1em 0;
}

video {
    display: block;
    transform: rotateY(180deg);
}

.videoView {
    position: relative;
    width: 48vw;
    display: flex;
    justify-content: space-between;
}

#output_canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
    transform: rotateY(180deg);
}